In [109]:
import pandas as pd

#### Define the file path

In [110]:
file_path_content = 'Content.csv'
file_path_reaction = 'Reactions.csv'
file_path_reaction_types = 'ReactionTypes.csv'

#### 1. Content Data

In [160]:
content_data = pd.read_csv(file_path_content)
content_data.head()

,Unnamed: 0,Content ID,User ID,Type,Category,URL
0,0,97522e57-d9ab-4bd6-97bf-c24d952602d2,8d3cd87d-8a31-4935-9a4f-b319bfe05f31,photo,Studying,https://socialbuzz.cdn.com/content/storage/975...
1,1,9f737e0a-3cdd-4d29-9d24-753f4e3be810,beb1f34e-7870-46d6-9fc7-2e12eb83ce43,photo,healthy eating,https://socialbuzz.cdn.com/content/storage/9f7...
2,2,230c4e4d-70c3-461d-b42c-ec09396efb3f,a5c65404-5894-4b87-82f2-d787cbee86b4,photo,healthy eating,https://socialbuzz.cdn.com/content/storage/230...
3,3,356fff80-da4d-4785-9f43-bc1261031dc6,9fb4ce88-fac1-406c-8544-1a899cee7aaf,photo,technology,https://socialbuzz.cdn.com/content/storage/356...
4,4,01ab84dd-6364-4236-abbb-3f237db77180,e206e31b-5f85-4964-b6ea-d7ee5324def1,video,food,https://socialbuzz.cdn.com/content/storage/01a...

In [161]:
content_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  1000 non-null   int64
 1   Content ID  1000 non-null   object
 2   User ID     1000 non-null   object
 3   Type        1000 non-null   object
 4   Category    1000 non-null   object
 5   URL         801 non-null    object
dtypes: int64(1), object(5)
memory usage: 47.0+ KB

In [162]:
# checking for missing entries
content_data.isna().sum()

Unnamed: 0      0
Content ID      0
User ID         0
Type            0
Category        0
URL           199
dtype: int64

In [163]:
content_data = content_data.dropna()

In [164]:
content_data

,Unnamed: 0,Content ID,User ID,Type,Category,URL
0,0,97522e57-d9ab-4bd6-97bf-c24d952602d2,8d3cd87d-8a31-4935-9a4f-b319bfe05f31,photo,Studying,https://socialbuzz.cdn.com/content/storage/975...
1,1,9f737e0a-3cdd-4d29-9d24-753f4e3be810,beb1f34e-7870-46d6-9fc7-2e12eb83ce43,photo,healthy eating,https://socialbuzz.cdn.com/content/storage/9f7...
2,2,230c4e4d-70c3-461d-b42c-ec09396efb3f,a5c65404-5894-4b87-82f2-d787cbee86b4,photo,healthy eating,https://socialbuzz.cdn.com/content/storage/230...
3,3,356fff80-da4d-4785-9f43-bc1261031dc6,9fb4ce88-fac1-406c-8544-1a899cee7aaf,photo,technology,https://socialbuzz.cdn.com/content/storage/356...
4,4,01ab84dd-6364-4236-abbb-3f237db77180,e206e31b-5f85-4964-b6ea-d7ee5324def1,video,food,https://socialbuzz.cdn.com/content/storage/01a...
...,...,...,...,...,...,...
994,994,c54b49c4-b1f2-4641-8595-1cbd19937845,2ab641a8-6ad4-4d1a-8511-d87ff5346773,photo,science,https://socialbuzz.cdn.com/content/storage/c54...
996,996,7a79f4e4-3b7d-44dc-bdef-bc990740252c,4fe420fa-a193-4408-bd5d-62a020233609,GIF,technology,https://socialbuzz.cdn.com/content/storage/7a7...
997,997,435007a5-6261-4d8b-b0a4-55fdc189754b,35d6a1f3-e358-4d4b-8074-05f3b7f35c2a,audio,veganism,https://socialbuzz.cdn.com/content/storage/435...
998,998,4e4c9690-c013-4ee7-9e66-943d8cbd27b7,b9bcd994-f000-4f6b-87fc-caae08acfaa1,GIF,culture,https://socialbuzz.cdn.com/content/storage/4e4...
999,999,75d6b589-7fae-4a6d-b0d0-752845150e56,b8c653b5-0118-4d7e-9bde-07c2de90f0ff,audio,technology,https://socialbuzz.cdn.com/content/storage/75d...

In [165]:
# check unique categories 
content_data['Category'].unique()

array(['Studying', 'healthy eating', 'technology', 'food', 'dogs',
       'soccer', 'public speaking', 'tennis', 'travel', 'education',
       'studying', 'science', 'veganism', 'cooking', 'animals', 'fitness',
       'culture'], dtype=object)

In [166]:
# check unique categories 
content_data['Type'].unique()

array(['photo', 'video', 'audio', 'GIF'], dtype=object)

In [167]:
content_data = content_data.drop({'Unnamed: 0', 'User ID', 'URL'}, axis = 1)

In [168]:
content_data.rename(columns = {'Type':'Content Type'}, inplace = True)

In [169]:
content_data.isna().sum()

Content ID      0
Content Type    0
Category        0
dtype: int64

In [170]:
content_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 801 entries, 0 to 999
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Content ID    801 non-null    object
 1   Content Type  801 non-null    object
 2   Category      801 non-null    object
dtypes: object(3)
memory usage: 25.0+ KB

#### 2. Reaction Data

In [171]:
reaction_data = pd.read_csv(file_path_reaction)
reaction_data.head()

,Unnamed: 0,Content ID,User ID,Type,Datetime
0,0,97522e57-d9ab-4bd6-97bf-c24d952602d2,NaN,NaN,2021-04-22 15:17:15
1,1,97522e57-d9ab-4bd6-97bf-c24d952602d2,5d454588-283d-459d-915d-c48a2cb4c27f,disgust,2020-11-07 09:43:50
2,2,97522e57-d9ab-4bd6-97bf-c24d952602d2,92b87fa5-f271-43e0-af66-84fac21052e6,dislike,2021-06-17 12:22:51
3,3,97522e57-d9ab-4bd6-97bf-c24d952602d2,163daa38-8b77-48c9-9af6-37a6c1447ac2,scared,2021-04-18 05:13:58
4,4,97522e57-d9ab-4bd6-97bf-c24d952602d2,34e8add9-0206-47fd-a501-037b994650a2,disgust,2021-01-06 19:13:01

In [172]:
reaction_data.isna().sum()

Unnamed: 0       0
Content ID       0
User ID       3019
Type           980
Datetime         0
dtype: int64

In [173]:
reaction_data = reaction_data.dropna()

In [174]:
reaction_data['Type'].unique()

array(['disgust', 'dislike', 'scared', 'interested', 'peeking', 'cherish',
       'hate', 'indifferent', 'super love', 'worried', 'like', 'heart',
       'want', 'intrigued', 'love', 'adore'], dtype=object)

In [175]:
reaction_data['Datetime'] = pd.to_datetime(reaction_data['Datetime'])

In [176]:
reaction_data.rename(columns = {'Type':'Reaction Type'}, inplace = True)

In [177]:
reaction_data = reaction_data.drop({'Unnamed: 0', 'User ID'}, axis = 1)

In [178]:
reaction_data.isna().sum()

Content ID       0
Reaction Type    0
Datetime         0
dtype: int64

In [179]:
reaction_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 22534 entries, 1 to 25552
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Content ID     22534 non-null  object
 1   Reaction Type  22534 non-null  object
 2   Datetime       22534 non-null  datetime64[ns]
dtypes: datetime64[ns](1), object(2)
memory usage: 704.2+ KB

#### Reaction Type Data

In [180]:
reaction_types_data = pd.read_csv(file_path_reaction_types)
reaction_types_data.head()

   Unnamed: 0        Type Sentiment  Score
0           0       heart  positive     60
1           1        want  positive     70
2           2     disgust  negative      0
3           3        hate  negative      5
4           4  interested  positive     30

In [181]:
reaction_types_data.isna().sum()

Unnamed: 0    0
Type          0
Sentiment     0
Score         0
dtype: int64

In [182]:
reaction_types_data.rename(columns = {'Type':'Reaction Type'}, inplace = True)

In [183]:
reaction_types_data['Reaction Type'].unique()

array(['heart', 'want', 'disgust', 'hate', 'interested', 'indifferent',
       'love', 'super love', 'cherish', 'adore', 'like', 'dislike',
       'intrigued', 'peeking', 'scared', 'worried'], dtype=object)

In [184]:
reaction_types_data = reaction_types_data.drop('Unnamed: 0', axis = 1)

In [185]:
reaction_types_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16 entries, 0 to 15
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Reaction Type  16 non-null     object
 1   Sentiment      16 non-null     object
 2   Score          16 non-null     int64
dtypes: int64(1), object(2)
memory usage: 516.0+ bytes

#### Merging the three tables together

In [186]:
# Merge content_data with reaction_data based on 'Content ID' and 'User ID'
merged_data = pd.merge(reaction_data, content_data, on='Content ID', how='left')
merged_data

,Content ID,Reaction Type,Datetime,Content Type,Category
0,97522e57-d9ab-4bd6-97bf-c24d952602d2,disgust,2020-11-07 09:43:50,photo,Studying
1,97522e57-d9ab-4bd6-97bf-c24d952602d2,dislike,2021-06-17 12:22:51,photo,Studying
2,97522e57-d9ab-4bd6-97bf-c24d952602d2,scared,2021-04-18 05:13:58,photo,Studying
3,97522e57-d9ab-4bd6-97bf-c24d952602d2,disgust,2021-01-06 19:13:01,photo,Studying
4,97522e57-d9ab-4bd6-97bf-c24d952602d2,interested,2020-08-23 12:25:58,photo,Studying
...,...,...,...,...,...
22529,75d6b589-7fae-4a6d-b0d0-752845150e56,worried,2020-10-31 04:50:14,audio,technology
22530,75d6b589-7fae-4a6d-b0d0-752845150e56,dislike,2020-06-27 09:46:48,audio,technology
22531,75d6b589-7fae-4a6d-b0d0-752845150e56,intrigued,2021-02-16 17:17:02,audio,technology
22532,75d6b589-7fae-4a6d-b0d0-752845150e56,worried,2020-11-04 20:08:31,audio,technology
22533,75d6b589-7fae-4a6d-b0d0-752845150e56,cherish,2021-01-04 04:55:11,audio,technology

In [187]:
merged_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22534 entries, 0 to 22533
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Content ID     22534 non-null  object
 1   Reaction Type  22534 non-null  object
 2   Datetime       22534 non-null  datetime64[ns]
 3   Content Type   18384 non-null  object
 4   Category       18384 non-null  object
dtypes: datetime64[ns](1), object(4)
memory usage: 880.4+ KB

In [188]:
merged_data.isna().sum()

Content ID          0
Reaction Type       0
Datetime            0
Content Type     4150
Category         4150
dtype: int64

In [190]:
# Merge the result with reaction_types_data based on 'Reaction Type'
final_data = pd.merge(merged_data, reaction_types_data, on='Reaction Type', how='left')
final_data

,Content ID,Reaction Type,Datetime,Content Type,Category,Sentiment,Score
0,97522e57-d9ab-4bd6-97bf-c24d952602d2,disgust,2020-11-07 09:43:50,photo,Studying,negative,0
1,97522e57-d9ab-4bd6-97bf-c24d952602d2,dislike,2021-06-17 12:22:51,photo,Studying,negative,10
2,97522e57-d9ab-4bd6-97bf-c24d952602d2,scared,2021-04-18 05:13:58,photo,Studying,negative,15
3,97522e57-d9ab-4bd6-97bf-c24d952602d2,disgust,2021-01-06 19:13:01,photo,Studying,negative,0
4,97522e57-d9ab-4bd6-97bf-c24d952602d2,interested,2020-08-23 12:25:58,photo,Studying,positive,30
...,...,...,...,...,...,...,...
22529,75d6b589-7fae-4a6d-b0d0-752845150e56,worried,2020-10-31 04:50:14,audio,technology,negative,12
22530,75d6b589-7fae-4a6d-b0d0-752845150e56,dislike,2020-06-27 09:46:48,audio,technology,negative,10
22531,75d6b589-7fae-4a6d-b0d0-752845150e56,intrigued,2021-02-16 17:17:02,audio,technology,positive,45
22532,75d6b589-7fae-4a6d-b0d0-752845150e56,worried,2020-11-04 20:08:31,audio,technology,negative,12
22533,75d6b589-7fae-4a6d-b0d0-752845150e56,cherish,2021-01-04 04:55:11,audio,technology,positive,70

In [191]:
final_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22534 entries, 0 to 22533
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Content ID     22534 non-null  object
 1   Reaction Type  22534 non-null  object
 2   Datetime       22534 non-null  datetime64[ns]
 3   Content Type   18384 non-null  object
 4   Category       18384 non-null  object
 5   Sentiment      22534 non-null  object
 6   Score          22534 non-null  int64
dtypes: datetime64[ns](1), int64(1), object(5)
memory usage: 1.2+ MB

In [192]:
final_data.isna().sum()

Content ID          0
Reaction Type       0
Datetime            0
Content Type     4150
Category         4150
Sentiment           0
Score               0
dtype: int64

In [193]:
final_data = final_data.dropna()

In [194]:
final_data.isna().sum()

Content ID       0
Reaction Type    0
Datetime         0
Content Type     0
Category         0
Sentiment        0
Score            0
dtype: int64

In [195]:
final_data

,Content ID,Reaction Type,Datetime,Content Type,Category,Sentiment,Score
0,97522e57-d9ab-4bd6-97bf-c24d952602d2,disgust,2020-11-07 09:43:50,photo,Studying,negative,0
1,97522e57-d9ab-4bd6-97bf-c24d952602d2,dislike,2021-06-17 12:22:51,photo,Studying,negative,10
2,97522e57-d9ab-4bd6-97bf-c24d952602d2,scared,2021-04-18 05:13:58,photo,Studying,negative,15
3,97522e57-d9ab-4bd6-97bf-c24d952602d2,disgust,2021-01-06 19:13:01,photo,Studying,negative,0
4,97522e57-d9ab-4bd6-97bf-c24d952602d2,interested,2020-08-23 12:25:58,photo,Studying,positive,30
...,...,...,...,...,...,...,...
22529,75d6b589-7fae-4a6d-b0d0-752845150e56,worried,2020-10-31 04:50:14,audio,technology,negative,12
22530,75d6b589-7fae-4a6d-b0d0-752845150e56,dislike,2020-06-27 09:46:48,audio,technology,negative,10
22531,75d6b589-7fae-4a6d-b0d0-752845150e56,intrigued,2021-02-16 17:17:02,audio,technology,positive,45
22532,75d6b589-7fae-4a6d-b0d0-752845150e56,worried,2020-11-04 20:08:31,audio,technology,negative,12
22533,75d6b589-7fae-4a6d-b0d0-752845150e56,cherish,2021-01-04 04:55:11,audio,technology,positive,70

In [214]:
# Save the DataFrame to a CSV file
final_data.to_csv('final_cleaned_dataset.csv', index=False)

In [208]:
# Calculate the total score for each category
category_scores = final_data.groupby('Category')['Score'].sum()

# Find the top 5 performing categories
top_categories = category_scores.nlargest(5).reset_index()

# Display the result as a DataFrame
print("Top 5 Performing Categories:")
print(top_categories)

# Create a new DataFrame with only the rows corresponding to the top categories
new_dataframe_top_categories = final_data[final_data['Category'].isin(top_categories['Category'])]

# Display the new DataFrame
print("\nDataFrame with Only Top Categories:")
new_dataframe_top_categories

Top 5 Performing Categories:
         Category  Score
0          travel  53935
1         science  53657
2  healthy eating  52745
3         animals  52443
4         cooking  49681

DataFrame with Only Top Categories:

,Content ID,Reaction Type,Datetime,Content Type,Category,Sentiment,Score
41,9f737e0a-3cdd-4d29-9d24-753f4e3be810,dislike,2020-06-25 17:01:58,photo,healthy eating,negative,10
42,9f737e0a-3cdd-4d29-9d24-753f4e3be810,intrigued,2020-09-13 00:11:50,photo,healthy eating,positive,45
43,9f737e0a-3cdd-4d29-9d24-753f4e3be810,peeking,2020-08-20 18:17:06,photo,healthy eating,neutral,35
44,9f737e0a-3cdd-4d29-9d24-753f4e3be810,scared,2021-02-11 04:53:56,photo,healthy eating,negative,15
45,9f737e0a-3cdd-4d29-9d24-753f4e3be810,hate,2021-03-08 10:40:53,photo,healthy eating,negative,5
...,...,...,...,...,...,...,...
22435,c54b49c4-b1f2-4641-8595-1cbd19937845,love,2020-12-12 21:17:55,photo,science,positive,65
22436,c54b49c4-b1f2-4641-8595-1cbd19937845,disgust,2021-04-02 18:59:44,photo,science,negative,0
22437,c54b49c4-b1f2-4641-8595-1cbd19937845,want,2020-09-17 02:27:46,photo,science,positive,70
22438,c54b49c4-b1f2-4641-8595-1cbd19937845,heart,2020-06-30 04:11:55,photo,science,positive,60
22439,c54b49c4-b1f2-4641-8595-1cbd19937845,adore,2020-07-29 13:54:24,photo,science,positive,72

In [209]:
new_dataframe_top_categories.info()

<class 'pandas.core.frame.DataFrame'>
Index: 6622 entries, 41 to 22439
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Content ID     6622 non-null   object
 1   Reaction Type  6622 non-null   object
 2   Datetime       6622 non-null   datetime64[ns]
 3   Content Type   6622 non-null   object
 4   Category       6622 non-null   object
 5   Sentiment      6622 non-null   object
 6   Score          6622 non-null   int64
dtypes: datetime64[ns](1), int64(1), object(5)
memory usage: 413.9+ KB

In [213]:
# Save the DataFrame to a CSV file
new_dataframe_top_categories.to_csv('cleaned_dataframe_top_categories.csv', index=False)

In [223]:
import pandas as pd

# Calculate the total score for each category
category_scores = final_data.groupby('Category')['Score'].sum()
category_scores = category_scores.reset_index()

# Find the top 5 performing categories
top_categories = category_scores.nlargest(5, 'Score').reset_index()

# Convert top_categories and category_scores to DataFrames
top_categories_df = pd.DataFrame(top_categories, columns=['Category', 'Score'])
category_scores_df = pd.DataFrame(category_scores, columns=['Category', 'Score'])

# Display the result as DataFrames
print("Top 5 Performing Categories (DataFrame):")
top_categories_df

print("\nTotal Score for Each Category (DataFrame):")
category_scores_df

Top 5 Performing Categories (DataFrame):

Total Score for Each Category (DataFrame):

           Category  Score
0          Studying   1176
1           animals  52443
2           cooking  49681
3           culture  47710
4              dogs  41816
5         education  45103
6           fitness  41829
7              food  47576
8    healthy eating  52745
9   public speaking  37730
10          science  53657
11           soccer  42031
12         studying  34685
13       technology  46683
14           tennis  43612
15           travel  53935
16         veganism  38513

In [224]:
# Save the DataFrame to a CSV file
category_scores_df.to_csv('aggregate.csv', index=False)