### Import Necessary Packages:

In [2]:
import pandas as pd

### Load Data:
Open your Jupyter Notebook (data_analysis.ipynb) and add the following code to load the data:

In [19]:
# Load the orders data
data_orders = pd.read_csv('C:/Users/Admin/Documents/GitHub/Data-Science-and-AI-Projects-/Failed Orders Analysis - Gett/datasets/data_offers.csv')

# Load the offers data
data_offers = pd.read_csv('C:/Users/Admin/Documents/GitHub/Data-Science-and-AI-Projects-/Failed Orders Analysis - Gett/datasets/data_offers.csv')

# Display the first few rows of the datasets
print("\nData Orders Data.\n________________")
display(data_orders.head())
display(data_orders.info())

print("\nData Offers Data.\n_________________")
display(data_offers.head())
display(data_offers.info())

Data Orders Data.
________________

        order_gk      offer_id
0  3000579625629  300050936206
1  3000627306450  300052064651
2  3000632920686  300052408812
3  3000632771725  300052393030
4  3000583467642  300051001196

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 334363 entries, 0 to 334362
Data columns (total 2 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   order_gk  334363 non-null  int64
 1   offer_id  334363 non-null  int64
dtypes: int64(2)
memory usage: 5.1 MB

None

Data Offers Data.
_________________

        order_gk      offer_id
0  3000579625629  300050936206
1  3000627306450  300052064651
2  3000632920686  300052408812
3  3000632771725  300052393030
4  3000583467642  300051001196

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 334363 entries, 0 to 334362
Data columns (total 2 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   order_gk  334363 non-null  int64
 1   offer_id  334363 non-null  int64
dtypes: int64(2)
memory usage: 5.1 MB

None

### Prepare and Clean the Data

#### 1. Data Cleaning 
- Handle missing values and data types.
- Ensure datetime columns are parsed correctly.

In [20]:
# Parse datetime columns
data_orders['order_datetime'] = pd.to_datetime(data_orders['order_datetime'])

# Handle missing values (example: fill NaNs or drop them)
data_orders = data_orders.dropna()

# Convert data types if necessary
data_orders['order_status_key'] = data_orders['order_status_key'].astype(int)
data_orders['is_driver_assigned_key'] = data_orders['is_driver_assigned_key'].astype(int)

KeyError: 'order_datetime'